
body {
    margin: 0;
    font-family: 'Raleway',sans-serif;
    background: #544;
    color: #e0e0e0;
}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-family: 'Raleway',sans-serif;
    font-size: 400%;
    font-weight: bold;
    color: #fff;
    background: #866;
    padding: 8px;
}

input {
    font-size: 150%;
    font-weight: bold;
}

.footer {
    padding: 16px;
}

.centered {
    margin: auto;
    text-align: center;
}

.hidden {
    display: none;
}

.topcontainer {
    margin: 16px;
    padding: 8px;
    background: #fff;
    border-radius: 8px;
}

.status {
    font-weight: bold;
    background: rgba(255, 255, 128, 0.4);
    border-radius: 4px;
    margin: 16px;
    padding: 16px;
}

.buttonLink {
    padding: 8px;
    color: #fff;
    background: #678;
    border-radius: 3px;
}

.buttonLink a {
    font-weight: normal;
}

.browseButton {
    background: #68e;
}

.basicinfo {
    background: #655;
    color: #fff;
    font-size: 300%;
    border-radius: 4px;
    margin: 16px;
    padding: 16px;
}
.basicinfo a {
    color: #553;
    text-decoration: underline;
}
